<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577070522086-rns5mnm1ir4ieiatoglifdro81kjd2fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577070522086-rns5mnm1ir4ieiatoglifdro81kjd2fi</string>
	<key>API_KEY</key>
	<string>AIzaSyCHbgWWF6vYeltJfbjSSQ_FWKbNcBaU_Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>577070522086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boblin</string>
	<key>PROJECT_ID</key>
	<string>quizlet-ish-b9605</string>
	<key>STORAGE_BUCKET</key>
	<string>quizlet-ish-b9605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577070522086:ios:9b3f5bbe0c9958ac746527</string>
</dict>
</plist>